# Email Service Configuration
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=true
SMTP_FROM_EMAIL=noreply@blackowned.com
SMTP_FROM_NAME=Black Owned

# NATS Email Subject
NATS_EMAIL_SUBJECT=email.send
